@page "/"

<PageTitle>Productos</PageTitle>

<style>
    .container-stock{
        margin-bottom: 10px;
    }

    .container-productos {
        margin-bottom: 10px;
    }

    .container-productos {
        margin-bottom: 10px;
    }






</style>


<div class="container-stock">
    <h2>Productos en Stock</h2>
    <ApiGatewayBlazor.Client.Componentes.Card />

</div>

<div class="container-productos">
    <h2>Nuestros Productos</h2>
    <ApiGatewayBlazor.Client.Componentes.Card />

</div>

<div class="container-productos">
    <h2>Productos Menos Gustados</h2>
    <ApiGatewayBlazor.Client.Componentes.Card />

</div>


